/* Global */
* {
    margin: auto;
}

p {
    margin: 0;
}

body {
    background-color: #233329;
    margin-top: 10px;
}

.container {
    width: 1020px;
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    margin-top: 100px;
}

a {
    color: #4ebdb6;
    text-decoration: none;
    border-bottom: 2px dotted #2F8A7B;
}

.credit-text a {
    color: #01756e;
}

/* Header */
.lyric {
    font-family: 'Shadows Into Light', serif;
    font-size: 48px;
    color: #fff;
    z-index: 10;
    right: 150px;
    top: -50px;
    text-align: center;
    position: absolute;
    color: #d2fef4;
}

.header {
    width: 1020px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 150px, rgba(35,51,41,1)), url(https://i.pinimg.com/736x/e8/10/ae/e810aef887d0e9c7f06bf43ee3af70bc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px inset;
    border-image: linear-gradient(to bottom, rgba(47,138,123,1) 200px, rgba(35,51,41,1)) 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.headinfo {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.headinfoleft, .headinforight {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 90%;
}

.subappear {
    color: #fff;
    font-family: 'Sour Gummy', serif;
    font-size: 32px;
    padding: 15px 5px 5px 15px;
    margin: 5px;
    align-self: flex-start;
}

.name {
    font-family: 'Quintessential', serif;
    font-size: 64px;
    color: #fff;
    padding: 15px 5px 5px 15px;
    margin: 5px;
    align-self: flex-start;
}

.subtool {
    position: relative;
    display: inline-block;
    font-family: 'Geo', serif;
    font-size: 30px;
    padding: 5px 5px 15px 5px;
    margin: 5px;
    text-align: right;
}

.subtool .subtooltext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #111111;
    background-color: rgba(47,138,123,.75);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.subtool:hover .subtooltext {
    visibility: visible;
    opacity: 1;
  }

.headshot { 
    width: 250px;
    height: 100%;
    border: 5px inset;
    border-image: linear-gradient(to bottom, rgba(47,138,123,1) 200px, rgba(35,51,41,1)) 1;
    background: url(HEADSHOT_URL);
    background-size: cover;
    background-position: center;
    margin-left: -5px;
}

.postrait {
    font-family: 'Sour Gummy', serif;
    font-size: 48px;
    color: #fff;
    padding: 15px 5px 5px 15px;
    margin: 5px;
    align-self: flex-start;
  }

  .negtrait {
    font-family: 'Sour Gummy', serif;
    font-size: 48px;
    color: #fff;
    padding: 5px 15px 15px 5px;
    margin: 5px;
    align-self: flex-end;
  }

  .appear {
    font-family: 'Sour Gummy', serif;
    font-size: 32px;
    color: #fff;
    padding: 15px 5px 5px 15px;
    margin: 5px;
    align-self: flex-start;
  }

  .appearsub {
    font-size: 24px;
  }

  .appearsub2 {
    font-size: 24px;
    color: #dbf5eb;
  }

/* Body */
.body {
    margin-top: 15px;
    background-color: #233329;
    border: 3px inset;
    border-image: linear-gradient(to top, rgba(47,138,123,1) 200px, rgba(35,51,41,1)) 1;
    width: 1020px;
    height: 500px;
    display: flex;
}

.body2 {
    margin-top: 15px;
    background-color: #233329;
    border: 3px inset;
    border-image: linear-gradient(to top, rgba(47,138,123,1) 200px, rgba(35,51,41,1)) 1;
    width: 1020px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
}

.body3 {
    margin-top: 15px;
    background-color: #233329;
    border: 3px inset;
    border-image: linear-gradient(to top, rgba(47,138,123,1) 200px, rgba(35,51,41,1)) 1;
    width: 1020px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
}

.left-column {
    width: 70%;
    height: 100%;
}

.leftcol-soc {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.leftcol-appear {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-column {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightcol-soc {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.rightcol-appear {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.information {
    width: auto;
    height: 250px;
    overflow: scroll;
    border: 3px inset #2F8A7B;
    color: #111111;
    background-color: #dbf5eb;
    margin: 10px;
    padding: 10px;
}

.information2 {
    width: auto;
    height: auto;
    overflow: scroll;
    border: 3px inset #2F8A7B;
    color: #111111;
    background-color: #dbf5eb;
    margin: 10px;
    padding: 10px;
}

.first {
    font-family: 'Quintessential', serif;
    font-size: 24px;
}

.sub {
    text-indent: 15px;
}

.subsub {
    text-indent: 20px;
}

.immediate {
    border-bottom: 2px dashed #2F8A7B;
    margin-bottom: 5px;
}

.extended {
    border-top: 2px dashed #2F8A7B;
    margin-top: 5px;
}

/* Body elements */
.divider {
    width: auto;
    height: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 3px inset #2F8A7B;
    color: #111111;
    background-color: #dbf5eb;
}

.sidebar {
    width: auto;
    height: auto;
    flex-grow: 1;
    margin: 10px 10px 5px 10px;
    background:url(https://i.pinimg.com/736x/38/64/46/38644624350a37ce5b18ee20f795b135.jpg);
    background-size: cover;
    background-position: center;
}

.sidebar-appear {
    width: auto;
    height: auto;
    flex-grow: 1;
    margin: 10px 10px 5px 10px;
    background:url(https://i.pinimg.com/736x/47/9e/c1/479ec16e3d9773f6c54dd9876e130346.jpg);
    background-size: cover;
    background-position: center;
}

.sidebar-divider {
    width: auto;
    height: 20px;
    padding: 10px;
    border: 3px inset #2F8A7B;
    color: #111111;
    background-color: #dbf5eb;
    margin: 5px 10px 10px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

/* Footer */
.footer {
    width: auto;
    height: 130px;
    display: flex;
    margin: 0 12px;
    justify-content: space-between;
}

.footer2 {
    width: auto;
    height: 30%;
    display: flex;
    margin: 12 12px;
    column-gap: 10px;
}

.footersoc {
    width: 100%;
    height: 130px;
    display: flex;
    margin: 0 12px;
    justify-content: space-evenly;
}

.link-img1 {
    width: 200px;
    height: 100%;
    background:url(https://i.pinimg.com/736x/e8/2a/15/e82a15dace0bdeb7859726fa6d588eb2.jpg);
    background-size:cover;
    background-position:center;
    border: 3px inset #2F8A7B;
}

.link-img2 {
    width: 200px;
    height: 100%;
    background:url(https://i.pinimg.com/736x/28/04/94/28049430a1a2aa2c26d77a1e7c727354.jpg);
    background-size:cover;
    background-position:center;
    border: 3px inset #2F8A7B;
}

.link-img3 {
    width: 200px;
    height: 100%;
    background:url(https://i.pinimg.com/736x/54/43/28/5443287bc721716c1100ec682311ee10.jpg);
    background-size:cover;
    background-position:center;
    border: 3px inset #2F8A7B;
    color: #111111;
}

.link-img4 {
    width: 200px;
    height: 100%;
    background:url(https://i.pinimg.com/736x/8b/17/3f/8b173f40cb8f206112a86c57c14c5f00.jpg);
    background-size:cover;
    background-position:center;
    border: 3px inset #2F8A7B;
}

/* JS */
.accordion {
    width: 90%;
    height: auto;
    overflow: hidden;
    font-size: 48px;
    font-family: 'Sour Gummy', serif;
    border: none;
    outline: none;
    background-color: #047a4c;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.accordion2 {
    width: 250px;
    height: auto;
    overflow: hidden;
    font-size: 24px;
    font-family: 'Sour Gummy', serif;
    border: none;
    outline: none;
    background-color: #047a4c;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

#kit,
#appr,
#tier1,
#tier2,
#tier3,
#tier4,
#tier5 {
    position: relative;
}

.panel {
    padding: 5px;
    border: 1px dashed #2F8A7B;
    outline: none;
    background-color: #dbf5eb;
    color: #111111;
    overflow: scroll;
    display: none;
    width: 90%;
    max-height: 150px;
}

.panel2 {
    padding: 5px;
    border: 1px dashed #2F8A7B;
    background-color: #dbf5eb;
    color: #111111;
    overflow: scroll;
    display: none;
    width: 200px;
    max-height: 200px;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: auto;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 130px;
    height: auto;
    background-color: rgba(47,138,123,.75);
    font-family: 'Geo', serif;
    font-size: 25px;
    color: #111111;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -13px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.sidebar-divider .credit-text {
    visibility: hidden;
    width: 200px;
    height: auto;
    background-color: rgba(219,235,245,.75);
    color: #111111;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 8px 0;
    margin-left: -80px;
    bottom: 125%;
    left: 50%;
}

.sidebar-divider .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}