body {
    background:url(https://i.pinimg.com/564x/78/ae/bd/78aebd417a2a4f9672acd45cb89a38a5.jpg);
    background-size:cover;
    font-family:'Courier New', Courier, monospace;
}

.cbox {
    margin:auto;
    width:500px;
    height:600px;
    background:#414535;
    background-size:cover;
    display:flex;
    padding: 75px 75px 75px;
    align-items:flex-end;
    justify-content:flex-end;
    box-sizing:border-box;
    outline: 1px solid #3CB371;
    outline-offset: 20px;
    line-height:1;
    color:#DED6D1;
    text-align:center;
}

.navi {
    width:57%;
    height:100%;
    padding:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.button {
    display:block;
    padding:2px;
    margin:3px;
    background: #DED6D1;
    border: 1px solid #3CB371;
    width:46%;
    box-sizing:border-box;
}

.button:hover {
    background-color:#E8E9EB;
    transition:7s;
}

.button:active {
    background-color:#E8E9EB;
    transition:7s;
}