.down {font-family:georgia;width:1000px;height:auto;margin:auto;text-align:center;font-weight:normal;display:flex;flex-wrap:wrap;}
.inf {font-family:georgia;display:block; text-align:center; background: url(https://i.ibb.co/0r9YtN4/down-signature-4.png);background-size: cover;flex-basis: 100%;width: 1000px;height: 320px;flex-grow: 1;}
.cr {font-style: italic; font-size:13px; text-align:center;}

.down .cat {font-weight:normal;width:calc(1000px / 6);}

.cat span:first-of-type {display:block;}

.d {color: #808000;}
.b {color: #3CB371;}
.s {color: #845D56;}
.r {color: #68228B;}
.rk {color: #6082B6;}
.a {color: #8B6508;}