.img {
    width: 1008px;
    height: 450px;
    background: url(https://i.ibb.co/FmSR2Jw/down-signature-9.png);
    background-size: cover;
    flex-basis: 100%;
    flex-grow: 1;
}



.down {
    font-family: 'Helvetica',sans-serif;
    width: 1008px;
    height: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.down .cat {
    width: calc(1008px/7);
    text-align: center;
}

.credit {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    display: block;
    text-align: center;
    width: 1008px;
}

.cat span:first-of-type {
    display: block;
    font-size: 15px;
}


/* DIALOGUE COLOR CODES */
.drs {
    color: #68228B;
    --accent: #68228B;
}

.drf {
    color: #6082B6;
    --accent: #6082B6;
}

.dsh {
    color: #6D2626;
    --accent: #6D2626;
}

.dps {
    color: #20AED4;
    --accent: #20AED4;
}

.dfp {
    color: #2F8A7B;
    --accent: #2F8A7B;
}

.dff {
    color: #E36630;
    --accent: #E36630;
}

.dfs {
    color: #9964B1;
    --accent: #9964B1;
}

.de {
    color: #E89C05;
    --accent: #E89C05;
}

.dsk {
    color: #0091B5;
    --accent: #0091B5;
}

.dbk {
    color: #C12F0F;
    --accent: #C12F0F;
}

.dok {
    color: #46682C;
    --accent: #46682C;
}