body {
    background-color:#012A36;
    background:cover;
    font-family:'Inter';
    text-align:center;
};

section {
    margin:10px;
    padding:5px;
    background-color:#FAFBFA;
};

.box {
    margin:auto;
    width:450px;
    height:550px;
    padding:50px 50px 50px 0;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    box-sizing:border-box;
    outline:1px solid #FAFBFA;
    outline-offset:-15px;
    line-height:1;
};

.day {color: #808000; --accent: #808000;};
.bird {color: #3CB371; --accent: #3CB371;};
.silver {color: #845D56; --accent: #845D56;};
.rowan {color: #68228B; --accent: #68228B;};
.rook {color: #6082B6; --accent: #6082B6;};
.adder {color: #8B6508; --accent: #8B6508;};
.pidge {color: #20AED4; --accent: #20AED4;};
.clover {color: #8FBC8F; --accent: #8FBC8F;};
.web {color: #53868B; --accent: #53868B;};
.newt {color: #FF6347; --accent: #FF6347;};