* {
    box-sizing: border-box;
}

body {
    width: 800px;
    height: 800px;
    font-family: Tahoma,Verdana,sans-serif;;
    margin: 0 auto;
    color: #FFBFB7;
    font-size: 12px;
    background: #51291E;
}

h1 {
    font-size: 30px;
    color: #FFF7A7;
    margin: 0 auto;
    padding: 5px 0px 1px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    color: #FFF7A7;
    margin: 2px;
    padding: 10px 0px 5px;
    border-bottom: 2px solid #ED254E;
    text-align: left;
    font-style: italic;
    text-transform: uppercase;
}

h3 {
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

a {
  color: #FFF7A7;
}

a:hover {
    color: #ED254E;
}

h5 {
    font-size: 12px;
    color: #F75E7D;
    margin: 0 auto;
    border-top: 2px dotted #ED254E;
    border-bottom: 2px dotted #ED254E;
    padding: 1px 0px 5px;
    text-align: center;
}

p {
  line-height: 150%;
  font-size: 13px;
}

img.one {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 32%;
    height: 200px;
}

img.two {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 33%;
    height: 200px;
}

img.three {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 32%;
    height: 200px;
}

.header {
    height: 500px;
    overflow: scroll;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 10px solid #ED254E;
}

.info {
    float: left;
    width: 200px;
    padding: 5px;
}

.basics {
    max-height: 200px;
    overflow: scroll;
}

.detailed {
    float: right;
    width: 600px;
    max-height: 500px;
    padding: 10px;
}

.detailed p {
    background: #301014;
    text-align: justify;
    min-height: 100px;
    max-height: 400px;
    overflow: scroll;
}