* {
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    color: #FFF7A7;
    margin: 0 auto;
    padding: 5px 0px 1px;
    font-style: italic;
}

h2 {
    font-size: 15px;
    color: #FFF7A7;
    margin: 2px;
    padding: 10px 0px 5px;
    border-bottom: 2px solid ;
    text-align: left;
    font-style: italic;
}

h3 {
    font-size: 13px;
    margin: 0 auto;
    padding: 5px;
}

a:hover {
    color: #ED254E;
}

h5 {
    font-size: 10px;
    color: #F75E7D;
    margin: 0 auto;
    border-top: 2px dotted ;
    border-bottom: 2px dotted ;
    padding: 1px 0px 5px;
}

div img {
    width: 200px;
    height: 300px;
    margin: 5px;
    padding: 10px;
}

.header {
    height: 300px;
    overflow: scroll;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 10px solid ;
}

.info {
    float: left;
    width: 200px;
    padding: 5px;
}

.detailed {
    width: 600px;
    padding: 10px;
}

.detailed p {
    background: #301014;
    text-align: justify;
    min-height: 100px;
    max-height: 400px;
    overflow: scroll;
}
    
#body {
    width: 800px;
    font-family: Tahoma,Verdana,sans-serif;;
    margin: 0 auto;
    color: #FFBFB7;
    font-size: 12px;
    background: #51291E;
}