/* IMPORT VALUES */
* {
    --bg: #0A0600;
    --cbg: rgba(255,255,255,0);
    --bg-gradi1: rgba(45,45,66,0);
    --bg-gradi2: rgba(45,45,66,.8);
    --text: #F2F2F2;
    --header: url(https://i.ibb.co/zTWB3hqm/landinghead.png);
    --sidebar: url(https://i.ibb.co/sv6r5P1v/landingside.png);
    --title: #D48F4E;
    --border: #D6C9BC;
    --credbox: #875924;
    /* CHARACTER COLORS
    LIVING */
    --drook: #6082B6;
    --dpidge: #20AED4;
    --dshrike: #0091B5;
    --dsilver: #501F1F;
    --dfish: #2F8A7B;
    --dbur: #701501;
    --dowl: #46682C;
    /* DECEASED */
    --dday: #46682C;
    --dclover: #8FBC8F;
    --dtwilight: #5B31AD;
    --drowan: #68228B;
    --dadder: #8B6508;
    --dfalcon: #E36630;
    --dweb: #53868B;
    --dnewt: #FF6347;
    --dbird: #3CB371;
    --dfox: #9964B1;
    --dezio: #E89C05;
}

/* FONT
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-wcc {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*/

/* FULL PAGE */
body {
    background-color: var(--bg);
    color: var(--color);
    font-family: "Inter", sans-serif;
    font-size: 20pt;
}

/* ???? 
.hub {
    width: 80%;
    height: 100%;
    background-color: var(--bg);
    color: var(--color);
    font-family: "Inter", sans-serif;
    font-size: 14pt;
}
*/

/* SPECIFIC ELEMENTS */
h1 {
    color: var(--title);
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-size: 32pt;
}

h2 {
    color: var(--title);
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size: 28pt;
}

.header {
    width: 75%;
    height: 250px;
    margin: 0 auto;
		background-image: var(--header);
    /*background-image: linear-gradient(to bottom, var(--bg-gradi1) 90%, var(--bg-gradi2) 10%) var(--header);*/
    background-size: cover;
    background-repeat: no-repeat;
		border-radius: 5px;
}

.container {
    width: 75%;
    height: 900px;
		background-color: var(--cbg);
    margin: 25px auto 0px auto;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.left {
    width: 50%;
    max-height: 80%;
		position: relative;
    overflow: scroll;
		right: 6%;
}

.right {
    width: 30%;
		left: 7%;
    max-height: 80%;
		position: relative;
}

.sidebar {
    min-height: 90%;
    background-image: var(--sidebar);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

/* CREDITS */
.credit {
    height: 32px;
    background-color: var(--credbox);
    color: var(--bg);
		text-align: center;
    border-radius: 2px;
		margin-top: 15px;

    .credtext {
        background-color: var(--bg-gradi2);
        color: var(--text);
        visibility: hidden;
        text-align: justify;
        padding: 6px;
        position: relative;
        z-index: 1;
        bottom: 80%;
				width: 200px;
				font-size: 12pt;
    }

    .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
}

/* CHARACTER NAMES 
LIVING */
.rook {
    color: var(--drook);
}

.pidge {
    color: var(--dpidge);
}

.shrike {
    color: var(--dshrike);
}

.silver {
    color: var(--dsilver);
}

.fish {
    color: var(--dfish);
}

.burdock {
    color: var(--dbur);
}

.owl {
    color: var(--dowl);
}
/* DECEASED */
.day {
    color: var(--dday);
}

.clover {
    color: var(--dclover);
}

.twilight {
    color: var(--dtwilight);
}

.rowan {
    color: var(--drowan);
}

.adder {
    color: var(--dadder);
}

.falcon {
    color: var(--dfalcon);
}

.web {
    color: var(--dweb);
}

.newt {
    color: var(--dnewt);
}

.bird {
    color: var(--dbird);
}

.fox {
    color: var(--dfox);
}

.ezio {
    color: var(--dezio);
}